<?xml version="1.0"?>
<!--
/**
 * Copyright © 2019 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Magenest_ProductFeed extension
 * NOTICE OF LICENSE
 *
 * @category Magenest
 * @package Magenest_ProductFeed
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="productfeed" translate="label" sortOrder="10">
            <label>Magenest</label>
        </tab>
        <section id="sendmail" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Product Feed</label>
            <tab>productfeed</tab>
            <resource>Magenest_ProductFeed::magenest_config</resource>
            <group id="mailsetting" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Mail Settings</label>

                <field id="status" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="identity" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1" canRestore="1">
                    <label>Email Sender</label>
                    <source_model>Magenest\ProductFeed\Model\Config\Source\Email\Identity</source_model>
                    <depends>
                        <field id="sendmail/mailsetting/status">1</field>
                    </depends>
                </field>

                <field id="template" translate="label comment" type="select" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Confirmation Template</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>Magenest\ProductFeed\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="sendmail/mailsetting/status">1</field>
                    </depends>
                </field>

                <field id="sendto" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Send Email To</label>
                    <depends>
                        <field id="sendmail/mailsetting/status">1</field>
                    </depends>
                </field>

                <field id="when" translate="label" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Send Mail When</label>
                    <source_model>Magenest\ProductFeed\Model\Config\Source\StatusSendMail</source_model>
                    <depends>
                        <field id="sendmail/mailsetting/status">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>